:root {
  --celeste: #a7e2e3;
  --verde: #5fb46d;
  --negro: #000000;
}

html,
body {
  margin: 0%;
  /*background-color: var(--celeste);*/
  color: var(--negro);
  font-family: 'Segoe UI', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header,
footer {
  background-color: var(--verde);
  color: white;
}

main {
  background-color: var(--celeste);
}

main.content {
  flex: 1;
  /* Ocupa el espacio restante */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15rem;
}

.hero {
  padding: 4rem 1rem;
  text-align: center;
  padding-bottom: 15rem;
}

.hero h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: green;
}

.hero p {
  font-size: 1.2rem;
  margin-top: 1rem;
}

.btn-primary {
  background-color: #f4a261;
  border: none;
  color: white;
}

.btn-primary:hover {
  background-color: #e07b39;
}

footer {
  padding: 1rem 0;
  text-align: center;
  font-size: 0.9rem;
}

.submit {
  width: 100%;
}

.hero-container {
  display: flex;
  flex-wrap: nowrap;
  gap: 2rem;
  padding: 2rem;
}

.hero-text {
  max-width: 600px;
  flex: 1;
}

.hero-img {
  max-width: 700px;
  flex: 1;
}

.hero-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.justify-btn {
  justify-content: end;
}

@media (max-width: 850px) {
  .hero-img {
    display: none;
  }

  .justify-btn {
    justify-content: space-evenly;
  }

  .estilo-extra {
    width: 100% !important;
    font-size: large;
    margin-bottom: 10%;
    background-color: #8fc9ca;
  }

  .hero-container {
    margin-top: 10%;
  }

  .direcion-query{
    flex-direction: column;
  }

}

.fit-content {
  max-width: fit-content;
}

.fuente-xlarge {
  font-size: x-large;
}

.ancho-div {
  width: 60%;
  gap:2rem;
}

.estilo-div-pregunta {
  align-self: center;
  background-color: #1e727d;
  color: white;
  padding: 1.5%;
  border-radius: 1rem;
  width: fit-content;
}

.agrandar-fuente {
  font-size: large;
}

.color-back-section{
  background-color: #8fc9ca;
}

.info-boxes {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin: 2rem auto;
  font-weight: bolder;
  margin-bottom: 5%;
}

.box {
  background-color: #1e727d;
  color: white;
  padding: 1.5rem;
  font-size: 1.2rem;
  font-family: sans-serif;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.box:hover {
  transform: scale(1.03);
}

.icon-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin: 3rem auto;
  text-align: center;
}

.icon-item {
  flex: 1 1 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
}

.icon-item i {
  font-size: 3rem;
  color: #1e727d;
  margin-bottom: 0.5rem;
}

.icon-item p {
  font-size: 1.1rem;
  color: #333;
  margin: 0;
}

.margen-cero{
margin:0%;
}

.equal-size {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30vh;       
  height: 15vh;      
  text-align: center; 
}
